name: Quizzy App CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test GitHub Actions
        run: echo "GitHub Actions is working for Quizzy-App!"
